.logo {
  position: absolute;
  width: 16.66em;
  border-radius: 40%;
  margin-left: 74em;
  margin-bottom: 10em;
}

.logo:hover {
  cursor: pointer;
  width: 17em;
}

.logoDesc {
  position: absolute;
  margin-top: 10em;
  margin-left: 81.75em;
}

/* .logoAndDesc:hover {
  cursor: pointer;
} */

/* .brutus {
  position: absolute;
  width: 27.5em;
  margin-left: 0.25em;
  border-radius: 25%;
  box-shadow: 0.25em 0.25em 1em darkslategray;
}

.brutusGreet {
  position: absolute;
  font-size: xx-large;
  margin-top: 23.75em;
  margin-left: 4em;
}

.koda {
  position: absolute;
  margin-left: 91.2em;
  width: 27.5em;
  margin-top: 9em;
  border-radius: 25%;
  box-shadow: 0.25em 0.25em 1em darkslategray;
}

.kodaGreet {
  position: absolute;
  font-size: xx-large;
  margin-left: 48.5em;
  margin-top: 3em;
} */

.contactForm {
  margin-top: 0.25em;
  height: 26em;
  width: 30.98em;
  /* border: solid green 5px; */
  margin-left: 14em;
  background-color: lightslategray;
  border-radius: 10%;
  border: solid darkslategray 0.25em;
  font-size: xx-large;
  box-shadow: 0.25em 0.25em 0.25em darkslategray;
  margin-bottom: 0.5em;
}

.contactForm:hover {
  box-shadow: 0.25em 0.5em 0.5em darkslategray;
}

.formInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  align-items: flex-start;
  margin-top: 1em;
}

.contactName {
  width: 17em;
  height: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 7%;
  font-size: xx-large;
  outline: none;
}

.contactName::placeholder {
  text-align: center;
}

.contact {
  width: 20em;
  height: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 7%;
  font-size: xx-large;
  outline: none;
}

.contact::placeholder {
  text-align: center;
}

.message {
  display: flex;
  text-align: justify;
  width: 30em;
  height: 10em;
  margin-bottom: 1.5em;
  border-radius: 3%;
  font-size: xx-large;
  outline: none;
  word-wrap: break-word;
  resize: none;
}

.message::placeholder {
  text-align: center;
}

.submitBtn {
  font-size: xx-large;
  margin-top: 0.25em;
  border-radius: 25%;
  margin-left: 10em;
  width: 5em;
  background-color: rgb(214, 230, 247);
  /* animation-name: test;
  animation-duration: 4s; */
}
/* 
@keyframes test {
  0% {
    background-color: red;
    margin-left: 10em;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200em;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
} */
