.logo {
  position: absolute;
  width: 14%;
  border-radius: 40%;
  margin-left: 61.75%;
}

.logo:hover {
  cursor: pointer;
  width: 14.25%;
}

.logoDesc {
  position: absolute;
  margin-top: 8.5%;
  margin-left: 68.25%;
}

.contactForm {
  margin-top: 0.5%;
  width: 53%;
  margin-left: 23%;
  background-color: #b7b7a4;
  border-radius: 10%;
  border: solid #818175 0.25em;
  font-size: xx-large;
  box-shadow: 0.25em 0.25em 0.25em #64645a;
  margin-bottom: 2.75%;
}

.contactForm:hover {
  box-shadow: 0.25em 0.5em 0.5em #64645a;
}

.formInfo {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  align-items: flex-start;
  margin-top: 2.5%;
}

.contactName {
  width: 65%;
  margin-bottom: 5%;
  border-radius: 5%;
  font-size: xx-large;
  outline: none;
  background-color: #fff1e6;
  border: solid #eddcd2 0.25em;
  box-shadow: 0.25em 0.25em 0.5em #64645a;
}

.contactName::placeholder {
  color: #a5a58d;
  text-align: center;
}

.contact {
  width: 75%;
  margin-bottom: 5%;
  border-radius: 5%;
  font-size: xx-large;
  outline: none;
  background-color: #fff1e6;
  border: solid #eddcd2 0.25em;
  box-shadow: 0.25em 0.25em 0.5em #64645a;
}

.contact::placeholder {
  color: #a5a58d;
  text-align: center;
}

.message {
  display: flex;
  text-align: justify;
  width: 85%;
  margin-bottom: 5%;
  border-radius: 2.5%;
  font-size: xx-large;
  outline: none;
  word-wrap: break-word;
  resize: none;
  background-color: #fff1e6;
  border: solid #eddcd2 0.25em;
  box-shadow: 0.25em 0.25em 0.5em #64645a;
}

.message::placeholder {
  color: #a5a58d;
  text-align: center;
}

.submitBtn {
  font-size: xx-large;
  color: #a5a58d;
  margin-top: 0.25em;
  border-radius: 25%;
  margin-left: 39.5%;
  width: 15%;
  border: solid #eddcd2 0.15em;
  background-color: #fff1e6;
  box-shadow: 0.25em 0.25em 0.5em #64645a;
  cursor: pointer;
  margin-bottom: 5%;
  /* animation-name: test;
  animation-duration: 4s; */
}

.submitBtn:hover {
  font-weight: 750;
  width: 20%;
  margin-left: 37%;
  box-shadow: 0.5em 0.5em 0.75em #64645a;
}

.contactFooter {
  margin-left: 45.9%;
}
/* 
@keyframes test {
  0% {
    background-color: red;
    margin-left: 10em;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200em;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
} */
