html,
body {
  height: 100%;
  width: 100%;
  margin: 0em;
  background-color: #a5a58d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  /* border: solid green 0.2em; */
  width: 100%;
  align-items: center;
  height: 7.25em;
  margin-top: 21em;
}

.logoNav {
  width: 25em;
  border-radius: 40%;
  margin-top: 10em;
  margin-left: 10em;
}

.contactBtn {
  margin-right: 8em;
  height: 1.75em;
  border-radius: 20%;
  font-size: xx-large;
  font-weight: 500;
  box-shadow: 0.1em 0.1em 0.25em #47473d;
  margin-top: 9em;
  border: solid #eddcd2 0.15em;
  background-color: #fff1e6;
}

.contactBtn:hover {
  cursor: pointer;
  font-weight: 750;
  width: 7em;
}

.content {
  background-color: #a5a58d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameAddress {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3em;
  font-size: large;
  position: absolute;
}

.smallNameAdd {
  margin-left: 50em;
  margin-top: 5em;
  font-size: x-large;
}

.name {
  margin-bottom: 0.5em;
}

.address {
  margin-top: 0em;
}

.title {
  margin-top: 0.25em;
  font-size: 5em;
  margin-bottom: 0.25em;
}

.profilePic {
  position: relative;
  z-index: 2;
  width: 28.5em;
  border-radius: 32.25%;
  margin-bottom: 5.75em;
  box-shadow: 0.25em 0.25em 1em #47473d;
  margin-top: 18.75em;
}

.profilePic:hover {
  cursor: pointer;
  box-shadow: 0.75em 0.75em 1em #47473d;
}

.picDesc {
  position: absolute;
  margin-top: 45.5em;
  margin-left: 39em;
}

.middleContent {
  box-shadow: 1em 0.25em 1em 0.75em #47473d;
  background-color: #b7b7a4;
  border-radius: 10%;
  width: 100%;
  height: 54.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.attributes {
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  /* border: solid green 0.25em; */
}

.attrAbout {
  display: flex;
  flex-direction: column;
  border: solid #eddcd2 0.5em;
  background-color: #fff1e6;
  border-radius: 15%;
  width: 30em;
  align-items: center;
  height: 33em;
  box-shadow: 0.25em 0.5em 1em #64645a;
  transition-property: height, margin-top;
  transition-duration: 0.5s, 0.75s;
}

.attrAbout:hover {
  box-shadow: 1em 1em 1em #64645a;
  height: 45em;
  margin-top: 3em;
}

.aboutInfo {
  font-size: x-large;
  margin-left: 1.5em;
  margin-top: 0em;
  margin-right: 1.5em;
}

.attrSkills {
  display: flex;
  flex-direction: column;
  border: solid #eddcd2 0.5em;
  background-color: #fff1e6;
  border-radius: 15%;
  width: 30em;
  align-items: center;
  height: 33em;
  text-align: center;
  box-shadow: 0.25em 0.5em 1em #64645a;
  transition-property: height, margin-top;
  transition-duration: 0.5s, 0.75s;
}

.attrSkills:hover {
  box-shadow: 1em 1em 1em #64645a;
  height: 45em;
  margin-top: 3em;
}

.skills {
  text-align: center;
}

.skillsList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: x-large;
  margin-right: 1em;
  margin-top: 0em;
}

.attrProjectsAndAwards {
  display: flex;
  flex-direction: column;
  border: solid #eddcd2 0.5em;
  background-color: #fff1e6;
  border-radius: 15%;
  width: 30em;
  height: 33em;
  align-items: center;
  box-shadow: 0.25em 0.5em 1em #64645a;
  transition-property: height, margin-top;
  transition-duration: 0.5s, 0.75s;
}

.attrProjectsAndAwards:hover {
  box-shadow: 1em 1em 1em #64645a;
  height: 45em;
  margin-top: 3em;
}

.projTitle {
  margin-bottom: 0em;
}

.hint {
  margin-top: 0em;
}

.projectsList {
  text-align: start;
  padding-left: 0.75em;
  margin-right: 3.25em;
  font-size: x-large;
  margin-top: 0em;
  margin-bottom: 0.75em;
}

.twoMonths {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.fourMonths {
  margin-top: 0em;
}

.awardsTitle {
  margin-top: 0em;
}

.awardsList {
  text-align: start;
  font-size: x-large;
  margin-top: 0em;
}

.footerBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #a5a58d;
  width: 100%;
  margin-top: 0.25em;
}

.liBtn {
  background-color: transparent;
  border: 0em;
}

.liBtn:hover {
  cursor: pointer;
}

.ghBtn {
  background-color: transparent;
  border: 0em;
}

.ghBtn:hover {
  cursor: pointer;
}
